body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 16px;
    line-height: 1.5;

    color: black;
    text-transform: uppercase;
}

*,
*:before,
*:after,
ul,
li {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

section {
    display: flex;
    justify-content: start;
    align-items: center;

    height: 25vh;

    padding: 5px 50px;
}

h2 {
    margin-right: 10px;
    width: 100px;

	animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
/* https://animista.net/play/text/tracking-in/tracking-in-expand */

  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }

.task1 {
    background-color: antiquewhite;
}

.task1__box {
    width: 100px;
    height: 100px;

    border: 10px solid blue;

    animation: task1-animation 1s linear 3;
}

@keyframes task1-animation {
    to {
        transform: translateX(50vw);
    }
}

.task2 {
    background-color: lightgoldenrodyellow;
}

.task2__box {
    width: 100px;
    height: 100px;

    border: 10px solid rgb(36, 1, 131);

    animation: task1-animation 1s ease .1s infinite;
}


.task3 {
    background-color: lightpink;
}

.task3__box {
    width: 100px;
    height: 100px;

    border: 10px solid green;
    background-color: transparent;

    animation: task3-animation 2s ease-in 2s backwards;
}


@keyframes task3-animation {
    to {
        background-color: green;
    }
}

.task4 {
    height: 45vh;

    background-color: violet;
}

.task4__box {
    width: 100px;
    height: 100px;

    border: 10px solid pink;

    animation: task4-animation 5s ease-in-out;
    animation-iteration-count: infinite;
}


@keyframes task4-animation {
    25% {
        transform: translate(50vw, 0);
    }

    50% {
        transform: translate(50vw, 8vh);
    }

    75% {
        transform: translate(0, 8vh);
    }

    100% {
        transform: translateY(0, 8vh);
    }
}

.task5 {
    height: 45vh;

    background-color: slateblue;
}

.task5__box {
    width: 100px;
    height: 100px;

    border: 10px solid pink;

    animation: task5-animation 5s ease-in-out;
}


@keyframes task5-animation {
    20% {
        background-color: transparent;
    }

    25% {
        transform: translate(50vw, 0);
        background-color: pink;
    }

    30% {
        background-color: pink;
    }

    50% {
        transform: translate(50vw, 8vh);
        background-color: transparent;
    }

    60% {
        background-color: transparent;
    }

    75% {
        transform: translate(0, 8vh);
        background-color: pink;
    }

    100% {
        transform: translateY(0, 8vh);
        background-color: transparent;
    }
}

.task6 {
    background-color: thistle;
}

.progress {
    width: 50vw;
    height: 8vh;

    border: 5px solid red;
}

.progress__line {
    width: 0;
    height: 100%;

    background-color: red;

    animation: progress 3s linear forwards;
}

@keyframes progress {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

.task7 {
    background-color: rgb(245, 206, 167);
}

.task7 .progress__line {
    animation: progress-infinite 5s ease-in-out infinite;
}

@keyframes progress-infinite {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

.task8 {
    align-items: start;

    height: 50vh;

    background-color: salmon;
}

.task8__ball {
    width: 50px;
    height: 50px;

    background-color: red;
    border-radius: 50%;

    animation: task8-animation 5s linear;
}

@keyframes task8-animation {
    20% {
        transform: translate(5vw, 35vh);
    }

    30% {
        transform: translate(15vw, 20vh);
    }

    40% {
        transform: translate(20vw, 35vh);
    }

    50% {
        transform: translate(25vw, 25vh);
    }

    60% {
        transform: translate(30vw, 35vh);
    }

    70% {
        transform: translate(35vw, 30vh);
    }

    100% {
        transform: translate(40vw, 35vh);
    }
}

.task9 {
    background-color: rgb(245, 207, 200);
}

.task9__box {
    width: 100px;
    height: 100px;

    background-color: turquoise;

    animation: task9-animation 5s ease-in-out infinite alternate paused;
}

.task9__box:hover {
    animation: task9-animation 5s ease-in-out infinite alternate running;
}


@keyframes task9-animation {
    from {
        width: 100px;
    }

    to {
        width: 90%;
    }
}


.task10 {
    flex-direction: column;
    justify-content: center;
    background-color: white;

    height: 100vh;
}

.task10__box {
    display: flex;
    justify-content: space-between;

    margin-top: 10px;

    width: 350px;
    height: 400px;

    background-color: #f3ebeb;
    border: 1px solid rgb(197, 186, 186);
    box-shadow: 2px 2px 15px rgb(197, 186, 186);
    border-radius: 5px;

    overflow: hidden;
}

.task10__nav {
    flex: 0 1 35%;

    padding: 50px 5px;

    background-color: #cfc6c6;
    box-shadow: 2px 2px 15px rgb(153, 143, 143);
    border-radius: 5px;
    text-align: center;

    transform: translateX(-150%);
    transition: transform .5s linear;
}


.task10__box:hover .task10__nav {
    transform: translateX(0);
}

.task10__item {
    padding-bottom: 30px;

    transition: all .5s linear;
}

.task10__item:hover {
    background-color: rgb(44, 35, 124);
}

.task10__link {
    color: #000;
    text-transform: uppercase;

    transition: all .3s linear;
}

.task10__item:hover .task10__link {
    color: #fff;
}


.task10__burger {
    width: 30px;
    height: 25px;

    margin: 10px;

    background-color: rgb(44, 35, 124);
    border: none;
    border-radius: 5px;
    cursor: pointer;

    transition: all .5s linear;
    transform: translateX(150%);
}


.task10__box:hover .task10__burger {
    transform: translateX(0);
}


.task10__burger:hover {
    box-shadow: 3px 3px 5px rgb(44, 35, 124);
}

.task10__line {
    display: block;

    position: relative;
    left: 5px;

    width: 20px;
    height: 2px;

    border-radius: 1px;
    background-color: white;
}

.task10__line::before {
    content: "";
    position: absolute;
    top: 5px;
    right: 0px;
    z-index: 1;

    width: 20px;
    height: 2px;

    border-radius: 1px;
    background-color: white;
}

.task10__line::after {
    content: "";
    position: absolute;
    bottom: 5px;
    right: 0px;

    z-index: 1;

    width: 20px;
    height: 2px;

    border-radius: 1px;
    background-color: white;
}


.task11 {
    justify-content: center;
    background-color: wheat;
}

.task11__heart {
    width: 97px;
    height: 97px;

    background: url(./img/heart_sprite.png) 35px center no-repeat;
}


.task11__heart:hover {
    background-position: -2765px center;

    transition: background-position 1s steps(28);
}

.task12 {
    justify-content: center;
    background-color: rgb(241, 180, 129);
}

.task12__star {
    width: 65px;
    height: 50px;

    background: url(./img/star-sprite.png) no-repeat;
}


.task12__star:hover {
    background-position: -3519px 0;

    transition: background-position 1s steps(55);
}